*.DS_Store
.sconsign.dblite
.sconf_temp/
config.log
/build*/
visualcpp/Debug/
visualcpp/Release/
visualcpp/packages/
visualcpp/*/Debug/
visualcpp/*/Release/
visualcpp/*.sdf
visualcpp/*.suo
visualcpp/*.opensdf
visualcpp/.vs/
visualcpp/JNGL.VC.db
installer/*.nsi
jngl.pc
*.os
*.so
xcode/JNGL.xcodeproj/project.xcworkspace/xcuserdata/*
xcode/JNGL.xcodeproj/xcuserdata/*.xcuserdatad/
*.sublime-workspace
libjngl.a
/test
android/jngl/obj
android/jngl/libs
android/test/obj
android/test/libs
android/test/bin
android/test/gen
android/include/boost
android/test/build.xml
android/test/local.properties
android/test/proguard-project.txt
android/test/assets/
android/test/main.obb
Thumbs.db
*.exe
python/*.dll*
.tup/
.vscode/.browse*
/.vscode/tags
/.vscode/cquery*
/compile_commands.json
