*.DS_Store
/build*/
installer/*.nsi
*.os
*.so
xcode/JNGL.xcodeproj/project.xcworkspace/xcuserdata/*
xcode/JNGL.xcodeproj/project.xcworkspace/xcshareddata/
xcode/JNGL.xcodeproj/xcuserdata/*.xcuserdatad/
Thumbs.db
.tup/
/.vscode/.browse*
/.vscode/settings.json
/.vscode/tags
/.vscode/cquery*
/.vscode/ipch/
/.vscode/c_cpp_properties.json
/.ccls-cache/
/compile_commands.json
/nintendo
/include/ios/boost
/.clangd/
