---
title: JNGL
navi: Home
---
{% include top.html %}
<div class="hero-unit">
	<h1>Just a Neat Game Library</h1>
	<p>An easy to use C++ game library for iOS, Android, Windows, Mac and Linux!</p>
	<p>
		<a href="tutorial" class="btn btn-primary">Get started &raquo;</a>
		<a href="download" class="btn">Download JNGL <small>(v1.1)</small></a>
		<a href="https://github.com/jhasse/jngl" class="btn">View project on Github</a>
	</p>
</div>
<div class="row">
	<div class="span3">
		<div class="page-header"><h2>Features</h2></div>
		<ul>
			<li>Modern C++11 style</li>
			<li>zlib License, so suitable for commercial use and static linking</li>
			<li>Full OpenGL accelerated</li>
			<li>PNG, JPEG, BMP and WebP Image support</li>
			<li>Ogg Vorbis Audio support</li>
		</ul>
	</div>
	<div class="span3">
		<div class="page-header"><h2>Projects</h2></div>
		<p>JNGL is used by the following games:</p>
		<ul>
			<li><a href="http://somyeol2d.com"><b>Somyeol2d</b></a><br>Platformer created for the Global Game Jam 2011</li>
			<li><a href="https://github.com/jhasse/jntetri"><b>JNTETRI</b></a><br>A simple Tetris clone</li>
			<li><a href="https://github.com/jhasse/tudi"><b>Tudi</b></a><br>Platformer created for a 10 days coding competition</li>
		</ul>
	</div>
	<div class="span6">
		<div class="page-header"><h2>Example</h2></div>
		<pre class="prettyprint linenums">
#include &lt;jngl.hpp&gt;

void jnglMain() {
    jngl::add&lt;Text&gt;("Hello World!");
}</pre>
	</div>
</div>
{% include bottom.html %}