- set +x
- export LANG=C.UTF-8 // GCC made the weird decision to translate error messages
- set -x
cmake-mingw {
	- mingw64-cmake -G "Ninja Multi-Config" -Bbuild-mingw
}
mingw {
	- test -f "build-mingw/build.ninja" || lus cmake-mingw
	- cd build-mingw
	- ninja
}
cmake-mingw-winapi {
	- mingw64-cmake -G "Ninja Multi-Config" -Bbuild-mingw-winapi "-DJNGL_WINAPI=1"
}
mingw-winapi {
	- test -f "build-mingw-winapi/build.ninja" || lus cmake-mingw-winapi
	- cd build-mingw-winapi
	- ninja
}
doc {
	- cd doc
	--clean {
		- rm -rf "build/" "html/"
		- rm -f doxygen_sqlite3.db cppreference-doxygen-web.tag.xml doxygen-awesome-sidebar-only.css doxygen-awesome.css
	}
	- test -f "build/build.ninja" || cmake -Bbuild -GNinja
	- ninja -Cbuild
	- latex --version // for formula rendering
	- dot --version // for UML
	- rm -f "html/index.html"
	- doxygen
	- rm "html/index.html"
	- ln -s "../index.html" "html/"
	- cd html
	- python3 -m http.server -b "127.0.0.1"
}
cmake {
	- cmake -Bbuild -G "Ninja Multi-Config" $args
}
build {
	- test -f "build/build.ninja" || lus cmake
	--release {
		- ninja -Cbuild -f build-Release.ninja $args
		- exit 0
	}
	- ninja -Cbuild $args
}
run {
	- lus build jngl-test
	- "build/Debug/jngl-test" $args
}
clean {
	- ninja -Cbuild -t clean
}
rebuild {
	- lus clean
	- lus build
}
test {
	- lus unittest $args
}
unittest {
	--release {
		- lus build --release jngl-unittest
		- cd build
		- "Release/jngl-unittest" $args
		- exit 0
	}
	- lus build jngl-unittest
	- cd build
	- "Debug/jngl-unittest" $args
}
// only run tests that do not require a windowing system
unittest-headless {
	- set +x
	- export config=Debug
	- export is_release=""
	--release {
		- export config=Release
		- set -x
		- lus build --release jngl-unittest
		- export is_release="1"
	}
	- set -x
	- test -n $is_release || lus build jngl-unittest
	- cd build
	- "$config/jngl-unittest" Color
	- "$config/jngl-unittest" Rgb
	- "$config/jngl-unittest" Drawable
	- "$config/jngl-unittest" ImageData
	- "$config/jngl-unittest" FinallyTest
	- "$config/jngl-unittest" halfLoadTest
	- "$config/jngl-unittest" getBinaryPath
	- "$config/jngl-unittest" getConfigPath
	- "$config/jngl-unittest" readAsset
	- "$config/jngl-unittest" Vec2
}

// default to build:
--release {
	- lus build --release
	- exit 0
}
- test -n $subcommand || lus build
