cmake-mingw {
	- mingw64-cmake -G "Ninja Multi-Config" -Bbuild-mingw
}
mingw {
	- test -f "build-mingw/build.ninja" || lus cmake-mingw
	- cd build-mingw
	- ninja
}
cmake-mingw-winapi {
	- mingw64-cmake -G "Ninja Multi-Config" -Bbuild-mingw-winapi "-DJNGL_WINAPI=1"
}
mingw-winapi {
	- test -f "build-mingw-winapi/build.ninja" || lus cmake-mingw-winapi
	- cd build-mingw-winapi
	- ninja
}
doc {
	- cd doc
	--clean {
		- rm -rf "build/" "html/"
		- rm -f doxygen_sqlite3.db cppreference-doxygen-web.tag.xml doxygen-awesome-sidebar-only.css doxygen-awesome.css
	}
	- test -f "build/build.ninja" || cmake -Bbuild -GNinja
	- ninja -Cbuild
	- latex --version // for formula rendering
	- dot --version // for UML
	- rm -f "html/index.html"
	- doxygen
	- rm "html/index.html"
	- ln -s "../index.html" "html/"
	- cd html
	- python3 -m http.server -b "127.0.0.1"
}
