@font-face {
	font-family: 'Lato';
	src: url('LatoLatin-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('LatoLatin-Bold.woff2') format('woff2');
	font-style: normal;
	font-weight: bold;
}

:root {
	/* --primary-color: #2d77c9; */
	/* --page-foreground-color: #000; */
	--font-family: "Lato", system-ui, sans-serif;
	--side-nav-arrow-opacity: 0.4;
}

a.el, a.elRef, .memname, td.entry, pre.fragment, div.line, .mdescLeft, .memItemLeft,
.memItemRight, .memTemplItemLeft, .memTemplItemRight, .memTemplParams, .memtemplate,
.params .paramname, .retval .paramname, .params .paramdir, td.paramname, code {
	font-family: var(--font-family-monospace);
}
