<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.16" targetFramework="Native" />
  <package id="libpng" version="1.5.10.11" targetFramework="Native" />
  <package id="libpng.redist" version="1.5.10.11" targetFramework="Native" />
  <package id="zlib" version="1.2.8.6" targetFramework="Native" />
  <package id="zlib.redist" version="1.2.8.6" targetFramework="Native" />
</packages>