<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.58.0" targetFramework="native" userInstalled="true" />
  <package id="libjpeg" version="9.0.1.3" targetFramework="native" userInstalled="true" />
  <package id="libjpeg.redist" version="9.0.1.3" targetFramework="native" userInstalled="true" />
  <package id="libpng" version="1.5.10.11" targetFramework="native" userInstalled="true" />
  <package id="libpng.redist" version="1.5.10.11" targetFramework="native" userInstalled="true" />
  <package id="zlib" version="1.2.8.6" targetFramework="native" userInstalled="true" />
  <package id="zlib.redist" version="1.2.8.6" targetFramework="native" userInstalled="true" />
</packages>