<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JNGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C914934D148D620F00A6E3E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C921154213EABBF100770E49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9AE784414A892B7004359EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9E948E514A7C3EF0048EFCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
