name: Android

on:
  pull_request:
  push:

jobs:
  build:
    runs-on: [ubuntu-latest]
    container:
      image: registry.gitlab.com/jhasse/android-ndk-docker:r28b
    steps:
    - uses: actions/checkout@v4
    - name: Cache CPM.cmake packages
      uses: actions/cache@v4
      with:
        path: .cache/cpm
        key: cpm
    - name: Build
      run: cd android/test && ./gradlew build
env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/.cache/cpm
