name: iOS
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: Install dependencies
      run: |
        gem install xcpretty
        brew install boost
        ln -s /usr/local/include/boost include/ios/boost
    - name: Configure with CMake
      run: cmake -Bbuild-ios -H. -DCMAKE_SYSTEM_NAME=iOS -DIOS=1 -GXcode
    - name: Build with Xcode
      run: set -o pipefail && xcodebuild -project build-ios/jngl.xcodeproj -sdk iphonesimulator | xcpretty
