name: macOS
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        brew install sdl2 libvorbis webp ninja
    - name: Build with CMake
      run: |
        cmake -Bbuild-cmake -GNinja
        ninja -Cbuild-cmake
