name: macOS
on: [push]
jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        brew install sdl2 freetype libvorbis libepoxy jpeg webp meson pkg-config boost
    - name: Build with Meson
      run: |
        meson build
        ninja -Cbuild
    - name: Build with CMake
      run: |
        cmake -H. -Bbuild-cmake -GNinja
        ninja -Cbuild-cmake
    - name: Android
      run: |
        export ANDROID_SDK_ROOT=$ANDROID_HOME
        make -Candroid
