name: Windows
on: [push]
jobs:
  msvc:
    runs-on: windows-2022
    steps:
    - uses: actions/checkout@v3
    - name: Configure
      run: cmake -Bbuild
    - name: Build (Debug)
      run: cmake --build build --config Debug
    - name: Build (Release)
      run: cmake --build build --config Release
    - name: Configure (UWP)
      run: cmake -Bbuild-uwp -DCMAKE_SYSTEM_NAME=WindowsStore '-DCMAKE_SYSTEM_VERSION=10.0'
    - name: Build (UWP, Debug)
      run: cmake --build build-uwp --config Debug
    - name: Build (UWP, Release)
      run: cmake --build build-uwp --config Release

  mingw-sdl:
    runs-on: [ubuntu-latest]
    container:
      image: registry.fedoraproject.org/fedora-minimal:37
    steps:
    - name: Install dependencies
      run: microdnf install -y cmake ninja-build mingw64-gcc-c++ mingw64-pkg-config mingw64-libvorbis mingw64-SDL2 mingw64-fontconfig mingw64-libwebp mingw64-dlfcn mingw32-nsis tar gzip
    - uses: actions/checkout@v3
    - name: Build with CMake and GCC
      run: |
        mingw64-cmake -Bbuild-windows -GNinja -DCMAKE_BUILD_TYPE=Debug -DBUILD_SHARED_LIBS=0 -DJNGL_SDL2=1
        ninja -Cbuild-windows
